@import "../../theme/theme.scss";

.container{
  width: 100%;
  height: 100vh;
  display: flex;

  .login-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 42%;
    padding: 6vw;

    img{
      align-self: start;
      margin-bottom: 50px;
      width: 130px;
    }

    .incorrect-data{
      position: relative;
      padding: 0.75rem 1.25rem;
      margin-bottom: 1rem;
      border: 1px solid transparent;
      border-radius: 0.25rem;
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
      width: 95%;
      margin-bottom: 20px
    }

    form{
      width: 95%;
      position: relative;

      .invalid-input{
        position: relative;
        top: -50px;
        color: red;
        font-size: .8em;
      }

      .input-group{
        position: relative;
        text-align: center;
        border-bottom: 1px solid #a9a9a9;
        margin-bottom: 50px;
        padding-bottom: 5px;
        width: 100%;

        input{
          text-align: center;
          border: 0;
          width: 100%;
          color: #5e5e5e;
          padding-right: 0;
        }

        input:focus{
          border: 0;
          box-shadow: none;
        }
      }

      .input-group:before{
        position: absolute;
        z-index: 1;
        left: 0;
        top: 5px;
        width: 5%;
        padding-right: 2px;
        font-family: "Font Awesome 5 Free";
        font-weight: 300;
        color: #a9a9a9;
        background-color: white;
      }

      .company-input-group:before{
        content: "\f1ad";
      }

      .login-input-group:before{
        content: "\f007";
      }

      .password-input-group:before{
        font-weight: 600;
        content: "\f023";
      }

      .remember-me-panel{
        position: relative;
        margin-top: 50px;

        label{
          padding-left: 5px;
          font-size: .8em;
          color: $black;
        }
      }

      button{
        position: absolute;
        right: 0;
        bottom: -5px;
        width: 35%;
        height: 35px;
      }
    }
  }

  .welcome-panel{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 58%;
    background-image: url("/assets/login/bg-login.jpg");
    background-size: cover;
    background-position: center;
    color: white;

    h1{
      font-size: 4.6em;
      margin-top: -25vh;
      margin-bottom: 2vh;
    }

    h1,h2{
      font-weight: normal;
      text-align: left;
      width: 100%;
      padding-left: 14%;
    }

    p{
      position: absolute;
      right: 40px;
      bottom: 50px;
      font-size: .7em;
      font-weight: bold;
    }
  }
}
