.container{
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    font-size: 35px;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  span::before,
  span::after{
    border-width: .01em;
  }

  .spinner {
    width: 70px;
  }
}
