<div class="container">
  <h2>Kampanie CTI</h2>
  <button [routerLink]="['/cti/edit/0']" class="add-campaign" kendoButton [primary]="true" [icon]="'plus'">Dodaj</button>
  <div class="campaigns-container">
    <form [formGroup]="filterForm" (submit)="filter(filterForm)">
      <input type="text" class="k-textbox" placeholder="Nazwa" name="filterName" formControlName="filterName">
      <kendo-buttongroup>
        <button [disabled]="listOfCtiCampaigns? false : true"
                type="button"
                kendoButton
                [icon]="'filter-clear'"
                [look]="'default'"
                (click)="clearFilter()">
                Wyczyść
        </button>
        <button [disabled]="listOfCtiCampaigns? false : true"
                type="submit" kendoButton
                [icon]="listOfCtiCampaigns ? 'filter' : 'loading'"
                [primary]="true">
                Filtruj
        </button>
      </kendo-buttongroup>
    </form>
    <kendo-grid *ngIf="listOfCtiCampaigns else loading"
                [kendoGridBinding]="listOfCtiCampaigns"
                [pageable]="true"
                [pageSize]="20"
                [sortable]="true"
                >
        <kendo-grid-column title="Akcje" width="100">
            <ng-template kendoGridCellTemplate let-dataItem>
              <div class="actions">
                <button kendoButton
                        [primary]="true"
                        [look]="'bare'"
                        [icon]="'edit'"
                        [routerLink]="['/cti/edit', dataItem.Id]"></button>
                <button kendoButton
                        [primary]="true"
                        [look]="'bare'"
                        [icon]="'trash'"
                        (click)="openDialog(dataItem.Id, dataItem.Nazwa)"></button>
              </div>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="Nazwa" title="" width="200">
        </kendo-grid-column>
        <kendo-grid-column field="flgTelStac" title="Tel. stac." [style]="{'text-align':'center'}">
          <ng-template kendoGridCellTemplate let-dataItem>
            <input type="checkbox" class="k-checkbox" [checked]="dataItem.flgTelStac" disabled/>
            <label class="k-checkbox-label"></label>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="flgGSM" title="Tel. GSM" [style]="{'text-align':'center'}">
          <ng-template kendoGridCellTemplate let-dataItem>
            <input type="checkbox" class="k-checkbox" [checked]="dataItem.flgGSM" disabled/>
            <label class="k-checkbox-label"></label>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="flgTelOsKon" title="Tel. os. kon." [style]="{'text-align':'center'}">
          <ng-template kendoGridCellTemplate let-dataItem>
            <input type="checkbox" class="k-checkbox" [checked]="dataItem.flgTelOsKon" disabled/>
            <label class="k-checkbox-label"></label>
          </ng-template>
        </kendo-grid-column>
    </kendo-grid>
    <ng-template #loading>
      <kambit-loading-data></kambit-loading-data>
    </ng-template>
  </div>

  <div kendoDialogContainer></div>
</div>
